Q1.Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'
with open("test.txt",'wt')as file:
    file.write(test1)

In [3]:
file.close()

Q2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt','rt') as infile:
    test2=infile.read()

In [4]:
len(test2)

43

In [5]:
len(test1)

43

test2=test1

Q3.Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [5]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

Q4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: 
    title (text), author (text), and year (integer).

In [6]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

OperationalError: table book already exists

In [7]:
db.commit()

Q5.Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [8]:
db.commit()

Q6.Select and print the title column from the book table in alphabetical order.

In [9]:
sql='select title from book order by title asc'
for r in db.execute(sql):
    print(r)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)

Q7.From the book table, select and print all columns in the order of publication.

In [10]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

Q8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [11]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)